* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	color: #2d303b;
}
html, p, nav, section, article {
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}
pre {
    padding: 0;
}
p {
	color: #2d303b;
}
a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #616161;
}
a:hover {
	color:#E54028;
}
a:hover,
a:focus {
    text-decoration: underline;
}
a.pure-button:hover, a.pure-button:focus {
	color: inherit;
	text-decoration: none;
}
a.pure-button-primary:hover, a.pure-button-primary:focus {
	color: #fff;
}
p a {
	color:#7F1000;
}
h1 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
}
.center {
	text-align: center;
}
.red {
	color: #E54028;
}
.dark-red {
	color: #7F1000;
}
.thin-line {
	height: 1px;
	border: 0px;
	background: #eee;
}

/* Layout */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
#layout {
    padding: 0;
}
.header {
    text-align: center;
    top: auto;
    /*margin: 3em auto;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.content {
    padding: 2em 1em 0;
}

/* Sidebar */
h1.brand-title {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	padding-top: 1rem;
	font-size: 3rem;
	margin-bottom: 0.25rem;
}
.brand-title a {
    text-decoration: none;
}
h2.brand-tagline {
	font-size: 1.4rem;
	margin-top: 0.25rem;
}
.sidebar h1.brand-title {
	color: #fff;
}
.brand-tagline {
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	font-weight: 200;
}
.sidebar {
	background: #2d303b;
    overflow: auto;
}
.sidebar, .sidebar p {
	color: #8b8b8b;
}
.sidebar a {
  color: #fff;
}
.sidebar a:hover {
	color:#E54028;
}

/* Nav */
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 1rem;
}
.nav-list-taxonomies {
    margin: 1rem 0 0 0;
    padding: 0 0 0 1rem;
    list-style: none;
    display: grid;
}
.nav-list-social {
    /*margin: 2rem 0 0 0;
    text-align: right;
    padding: initial;
    list-style: none;*/

    margin: 1rem 0 0 0;
    padding: 0 0 0 1rem;
    list-style: none;
    font-size: 0.8rem;
}

.social-sharing {
    margin-top: 1rem;
    padding-top: 1rem;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    color: #fff;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.85rem;
    text-decoration: none;
    margin-right: 0.1rem;
    line-height: 1.5rem;
}
.nav-item a:hover,
.nav-item a:focus {
    text-decoration: none;
}
.nav-item-separator {
	font-weight: 100;
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	color: #E54028;
	letter-spacing: -0.35rem;
	margin-right: 0.4rem;
}

/* Posts */
h1.post-title a {
	text-decoration: none;
	color: #111111;
}
.post-date {
	color: #E54028;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 1.0rem;
}
.post-date-day sup {
	font-size: 1rem;
    margin-top: 1rem;
	margin-right: -0.5rem;
}
.post-date-separator {
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	font-weight: 100;
	letter-spacing: -0.35rem;
	font-size: 1.9rem;
	color: #7F1000;
}
.post-date-month {
	font-size: 0.8rem;
	color: #7F1000;
    margin-left: -0.2rem;
}
.post-date-year {
	font-size: 0.8rem;
	color: #7F1000;
}
a.post-author {
	font-size: 0.9rem;
	text-decoration: underline;
}
.post-author-single {
	font-size: 0.9rem;
}
.post-author-social a {
	color: #bbb;
}
.post-author-social a:hover, .post-author-social a:focus {
	color: #E54028;
}
.post-author-social i {
	font-size: 0.9rem;
}
.post {
    padding-bottom: 1.8rem;
    line-height: 1.75rem;
}
.post p {
	margin-bottom: 1.55rem;
	margin-top: 0;
}

.post-content {
	margin-top: 1.75rem;
}

.post-content ul {
    margin-top: 0.5rem;
}

.post-content img {
    max-width: 100%;
}

.post h2 {
    margin-bottom: .25rem;
    font-size: 1.7rem;
    color: #7F1000;
    font-weight: 500;
}
.post h3 {
    margin-bottom: .25rem;
    font-size: 1.4rem;
    color: #7F1000;
    font-weight: 500;
}
.post h4 {
	margin-bottom: .25rem;
	font-size: 1.25rem;
	color: #7F1000;
	font-weight: 500;
}
.post h3.post-subtitle {
	font-weight: 200;
	color: #999;
}
.post table {
    margin-bottom: 1.75rem;
    margin-top: 0;
}
.post-title {
    font-size: 2rem;
    color: #222;
    margin-bottom: 0.75rem;
}
.post-subtitle {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 200;
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	color: #999;
}
.post-reading-time {
	display: inline;
	font-size: 0.65rem;
	color: #aeaeae;
}
.post-avatar-wrapper {
	width: 50px;
	height: 50px;
	border-radius: 50px;
    overflow: hidden;
    margin-left: 1rem;
    float: right;
}
.post-avatar {
    height: 50px;
}
.post-summary {
	margin-top: 0.5rem;
}
.post-summary p > img {
    max-width: 50%;
}
.post-summary blockquote {
  border-left: .25rem solid #2d303b;
}
.read-more-link {
	float: left;
	clear: left;
	margin-top: 0rem;
}
.read-more-link a {
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-weight: 400;
	font-size: 0.9rem;
	color: #7F1000;
}
.read-more-link a:hover, .read-more-link a:focus {
	color: #E54028;
}
.read-more-slashes {
	font-weight: 100;
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	color: #E54028;
	letter-spacing: -0.26rem;
	margin-right: 0.1rem;
}

.post-description {
    color: #444;
    line-height: 1.8rem;
}
.post-meta {
    color: #2d303b;
    font-size: 90%;
    margin: 0;
}
/*
p.post-meta {
	margin-bottom: 0;
}
.post-meta a {
	color: #616161;
}
.post-meta a:hover {
	color: #E54028;
}
*/
.post-categories {
	clear: left;
	margin-left: .5rem;
}
.post-category {
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #fff;
    background: #999;
    font-size: 0.75rem;
}
a.post-category {
	text-decoration: none;
}
a.post-category:hover {
	color: #fff;
	text-decoration: underline;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Tables */
table {
  margin-bottom: 1rem;
  max-width: 100%;
  /* border: 1px solid #e5e5e5; looks bad if table is less than full width bc of display: block */
  border-collapse: collapse;
  border: none;
  display: block;
  overflow-x: auto;
}

td,
th {
  padding: .25rem .5rem;
  border-bottom: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #fcfcfc;
}


/* Figures */
figure {
    margin: 2rem 3rem;
}

figcaption {
    display: inline;
    font-size: 0.75rem;
    color: #aeaeae;
}

/* Tags */
.tags-list {
	clear: left;
	margin-bottom: 0rem;
	font-size: 0.85rem;
	color: #999;
}

/* Decorative Marker */
.decorative-marker {
	color: #E54028;
	letter-spacing: -0.25rem;
	margin-right: 0.4rem;
	margin-lefT: 0.1rem;
}

/* Paging */
.paging {
    margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
.paging, .paging-older, .paging-newer {
	clear: left;
	font-size: 0.85rem;
}
.paging-older, .paging-newer {
	margin-bottom: 0.25rem;
}

.paging-newer {
    float: right;
}

/* ToC */
#toc {
	float: right;
	padding: 0 1rem 1rem 1rem;
	border-left: 1px solid #eee;
	font-size: 0.9rem;
}
nav#TableOfContents li {
	padding-bottom: 0.25rem;
}
nav#TableOfContents ul:first-child {
    padding-left: 0px;
}
.toc-label {
	font-size: 0.8rem;
	color: #aeaeae;
}

@media (max-width: 1024px) {
	h1.brand-title {
		font-size: 2.5rem;
	}
	h2.brand-tagline {
		font-size: 1.2rem;
	}

	.sidebarphoto{
	    width:160px;
	    height:160px;
	    border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    transition: all .51s;
	}

    .sidebarphoto:hover{
	    width:160px;
	    height:160px;
	    border-radius: 30%;
	    -moz-border-radius: 30%;
	    -webkit-border-radius: 30%;
	}

}

@media (min-width: 48rem) {
	.content {
        padding: 2rem 3rem 0;
        margin-left: 25%;
    }

    .header {
        margin: 25% 2rem 10% 2rem;
        text-align: right;
    }

    .sidebarphoto{
	    width:100%;
	    height:100%;
        max-width: 160px;
        max-height: 160px;
	    border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    transition: all .51s;
	}

    .sidebarphoto:hover{
	    width:160px;
	    height:160px;
	    border-radius: 30%;
	    -moz-border-radius: 30%;
	    -webkit-border-radius: 30%;
	}

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    font-weight: 100;
    color: #aeaeae;
    font-size: 0.7rem;
    float: bottom;

}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin-right: 5px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #aeaeae;
}

hr.thin {
    height: 1px;
    border: 0;
    color: #eee;
    background-color: #eee;
    width: 90%;
}

/* Partially override any given highlight.js theme */
.hljs {
  border-radius: 3px;
  white-space: pre;
  position: relative;
  font-size: 12px;
}

/* (Almost) Original highlight github theme */
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#333;background:#fcfcfc}
.hljs-comment,.hljs-quote{color:#998;font-style:italic}
.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:bold}
.hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}
.hljs-string,.hljs-doctag{color:#d14}
.hljs-title,.hljs-section,.hljs-selector-id{color:#900;font-weight:bold}
.hljs-subst{font-weight:normal}
.hljs-type,.hljs-class .hljs-title{color:#458;font-weight:bold}
.hljs-tag,.hljs-name,.hljs-attribute{color:#000080;font-weight:normal}
.hljs-regexp,.hljs-link{color:#009926}
.hljs-symbol,.hljs-bullet{color:#990073}
.hljs-built_in,.hljs-builtin-name{color:#0086b3}
.hljs-meta{color:#999;font-weight:bold}
.hljs-deletion{background:#fdd}
.hljs-addition{background:#dfd}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:bold}

/* Styling categories */
.post-category-rstats {
  color: #fff;
  background: #77ABD9;
}
.post-category-tvshows {
  color: #fff;
  background: #E54028;
}
.post-category-tech {
  color: #fff;
  background: #2d303b;
}
.post-category-lolz {
  color: #fff;
  background: #2d303b;
}
